ion-content {
    --background: rgba(44, 39, 45, 0.781) !important;
}
 
ion-slides {
    height: 100%;
    background-color: transparent;
}

.green {

    background-color: #70a53f !important;
    border-radius: 50%;
    border-width: 0px;
    margin: 0px;
    padding: 5px;

}